.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

img.img-preview-image{
    height: 264px;
    margin-bottom: 10px;
}

.alert.alert-fixed{
    position: fixed;
    z-index: 100000000;
    left: 420px;
    top: 0;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}


.headerbar-center {
    clear: both;
    text-align: center;
}

.headerbar-center h1, .headerbar-center h2,.headerbar-center h3,.headerbar-center h4{
    margin-top: 0;
    margin-bottom: 0;
}